# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VSCode
.vscode/

# Data (do NOT upload large datasets)
data/

# Models
models/

# Environment variables
.env

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/