# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VSCode
.vscode/

# Data 
data/
Formal_Settlement_Images_V1/
Informal_Batch1_Clipped__580/


# Models
models/

# Environment variables
.env

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/